body {
  font-family: Arial, sans-serif;
  background-color: #1A237E;
  color: white;
  text-align: center;
}

#game {
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* Esto hace que los elementos se apilen verticalmente */
  align-items: center; /* Alinea los elementos al centro */
}

button {
  margin: 10px 0; /* Esto hace que los botones se apilen con un pequeño espacio entre ellos */
  width: 200px; /* Ajusta el ancho de los botones */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del botón de clic */
#click-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

#click-button:hover {
  background-color: #45a049;
}

/* Estilo del botón de multiplicador */
#multiplier-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  height: 50px;
}

#multiplier-button img {
  width: 100%; /* La imagen ocupará todo el espacio del botón */
  height: 100%; /* Ajusta la altura de la imagen */
  object-fit: cover;
  border-radius: 10px;
}

#multiplier-button:hover {
  opacity: 0.8;
}

/* Estilo del ranking */
h2 {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

#ranking {
  list-style-type: none;
  padding: 0;
}

#ranking li {
  font-size: 18px;
  margin: 5px 0;
}
